.comments {
  margin-left: 2.5em;
  div[id^="comment-"] {
    position: relative;
    margin-top: 10px;
    left: 50px;
    &:before {
      font-family: FontAwesome;
      font-size: 14px;
      content: "\f0f6";
    }
    .body {
      margin-left: 8px;
    }
    .comment-footer {
      font-size: 13px;
      color: #8899a6;
      margin-left: 21px;
      a {
        color: #8899a6;
        text-decoration: none;
        border-bottom: 1px dotted;
        &:hover {
          text-decoration: none;
          border-bottom-style: solid;
        }
      }
      & > .comment-form {
        display: none;
        margin: 14px 0 10px 20px;
        font-size: 16px;
      }
    }
  }
}