.omniauth {
    @include displayFlex;
    flex-direction: column;
    align-items: center;
    .social {
      @include displayFlex;
      width: 300px;
      margin-bottom: 1.33em;
      justify-content: space-around;
      list-style: none;
      .facebook, .google, .vk {
        display: block;
        text-indent: -9999px;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
      }
    }
  }