.cant-post {
  margin: 0;
  text-align: center;
  color: #666;
}

.author-actions {
  margin: 15px 0;
}

#posts {
  .posts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
      line-height: 1.6;
      .author {
        margin-top: 5em;
        padding-top: 0;
        a {
          color: #000;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
            color: #0084B4;
          }
        }
      }
      .post-body {
        display: block;
        margin-left: 60px;
      }
      .comment-form {
        display: none;
        margin: 10px 0 10px 90px;
      }
      .timestamp, .post-reply {
        display: inline;
        font-size: 13px;
        color: #8899a6;
      }
      .post-reply {
        text-decoration: none;
        border-bottom: 1px dotted;
        &:hover {
          text-decoration: none;
          border-bottom-style: solid;
        }
      }
      .post-img {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 30px;
        width: 50px;
        height: 50px;
      }
      div[id^="comment-"] {
        position: relative;
        margin-left: 40px;
        margin-top: 10px;
        left: 50px;
        &:before {
          font-family: FontAwesome;
          font-size: 14px;
          content: "\f0f6";
        }
        .body {
          margin-left: 8px;
        }
        .comment-footer {
          font-size: 13px;
          color: #8899a6;
          margin-left: 21px;
          a {
            color: #8899a6;
            text-decoration: none;
            border-bottom: 1px dotted;
            &:hover {
              text-decoration: none;
              border-bottom-style: solid;
            }
          }
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }