<div class="login-home">
  <div class="intro">
    <h1>StackWrite</h1>
    <p>Stories authored by you</p>
  </div>
  <h4>Login using social networks</h4>
  <div class="social">
    <li class="facebook"><%= link_to "facebook" "auth/facebook" %></li>
    <li class="google"><%= link_to "google" "auth/google" %></li>
    <li class="vk"><%= link_to "vk" "auth/vk" %></li>
  </div>
</div>