<div class="author-actions">
  <% if @current_author %>
    <%= cell(:typer, @current_author) %>
  <% else %>
    <%= cell(:omniauth) %>
  <% end %>
</div>

<div id="posts">
  <ol class="posts">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
</div>
