<div class="user-actions">
  <% if @current_user %>
    <%= cell(:typer, @current_user) %>
  <% else %>
    <%= cell(:omniauth) %>
  <% end %>
</div>

<div id="posts">
  <ol class="posts">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
</div>
